@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Manrope:wght@200..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Jost", sans-serif;
    background-color: #fff
}
button{
    cursor: pointer;
    transition: 0.4s ease;
    border: none;
}
.burger{
    display: none;
}
li{
    list-style: none;
    transition: 0.4s ease;
}
a{
    color: inherit;
    text-decoration: none;
}
.container{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 40px;
}
.head{
    padding: 64px 0 67px;
    .container{
        max-width: 1191px;
        .header-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            ul{
                display: flex;
                align-items: center;
                gap: 42px;
                li{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 0.14em;
                    color: #333136;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .logo{
                a{
                    display: flex;
                    align-items: center;
                }
            }
    }
}
}
.promo{
    .container{
        background-repeat: no-repeat;
        background-image: url(../img/frame-head-bg.jpg);
        background-position:center;
        margin-bottom: 160px;
        min-height: 640px;
        padding: 145px 95px;
        .promo-content{
            h1{
                font-weight: 500;
                font-size: 48px;
                line-height: 100%;
                color: #fff;
                margin-bottom: 11px;
                max-width: 540px;
            }
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 162%;
                color: #fff;
                margin-bottom: 40px;
                max-width: 540px;
            }
            button{
                font-weight: 500;
                font-size: 15px;
                letter-spacing: 0.07em;
                text-transform: uppercase;
                border-radius: 8px;
                font-family: "Jost", sans-serif;
                color: #333136;
                padding: 18px 25px;
                &:hover{
                    background: #ffad9b;
                    color:#fff;
                }
            }
        }
    }
}
.card{
    .container{
        margin-bottom: 160px;
        .card-content{
            display: flex;
            gap: 30px;
            .card-noutbook{
                background-image:url(../img/noutbook.jpg);
                background-repeat: no-repeat;
                max-height: 640px;
                width: 541px;
                padding-top: 273px;
                padding-bottom: 273px;
                border-radius:15px;
                .card-text{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h2{
                        font-weight: 500;
                        font-size: 40px;
                        line-height: 120%;
                        letter-spacing: 0.05em;
                        color: #fff;
                        margin-bottom: 24px;
                    }
                    .text{
                        display: flex;
                        align-items: center;
                        gap: 21px;
                        p{
                            font-weight: 500;
                            font-size: 15px;
                            letter-spacing: 0.33em;
                            text-transform: uppercase;
                            color: #fff;
                        }
                    }
                }
               
            }
            .card-imgs{
                display: flex;
                flex-direction: column;
                gap: 24px;
                .iphone-img{
                    background-image:url(../img/iphone-bg.jpg);
                    min-height: 308px;
                    background-repeat: no-repeat;
                    padding-top: 107px;
                    padding-bottom: 107px;
                    width: 541px;
                    .card-text{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h2{
                            font-weight: 500;
                            font-size: 40px;
                            line-height: 120%;
                            letter-spacing: 0.05em;
                            color: #fff;
                            margin-bottom: 24px;
                        }
                        .text{
                            display: flex;
                            align-items: center;
                            gap: 21px;
                            p{
                                font-weight: 500;
                                font-size: 15px;
                                letter-spacing: 0.33em;
                                text-transform: uppercase;
                                color: #fff;
                            }
                        }
                    }
                    
                    
                    
                }
                .graphic-img{
                    background-image:url(../img/graphic-design.jpg);
                    min-height: 308px;
                    background-repeat: no-repeat;
                    padding-top: 107px;
                    transition: 0.6s;
                    padding-bottom: 107px;
                    width: 541px;
                    .card-text{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        h2{
                            font-weight: 500;
                            font-size: 40px;
                            line-height: 120%;
                            letter-spacing: 0.05em;
                            color: #fff;
                            margin-bottom: 24px;
                        }
                        .text{
                            display: flex;
                            align-items: center;
                            gap: 21px;
                            p{
                                font-weight: 500;
                                font-size: 15px;
                                letter-spacing: 0.33em;
                                text-transform: uppercase;
                                color: #fff;
                            }
                        }
                    }
                    
                }

            }
        }
    }
}
.information{
    .container{
        margin-bottom: 160px;
        max-width: 1110px;
        .information-content{
            display: flex;
            align-items: center;
            gap: 30px;
            text-align: center;
            .passionate{
                .passionate-img{
                    img{
                        margin-bottom: 48px;
                    }
                }
                h3{
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 130%;
                    letter-spacing: 0.25em;
                    text-align: center;
                    color: #333136;
                    margin-bottom: 32px;
                }
                p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 162%;
                    text-align: center;
                    color: #333136;
                }
            }
        }
    }
}
.talk-about{
    transform: translateY(90px);
    .container{
        background-image:url(../img/project-bg.jpg);
        background-repeat: no-repeat;
        padding: 72px 96px 46px 95px;
        background-position:center;
        border-radius: 15px;
        max-width: 1110px;
        min-height: 292px;
        .talk-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .text{
                max-width: 459px;
                h4{
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 100%;
                    color: #fff;
                    max-width: 268px;
                }
                p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 162%;
                    color: #fff;
                    max-width: 459px;
                }
            }
            button{
                font-weight: 500;
                font-size: 15px;
                letter-spacing: 0.07em;
                text-transform: uppercase;
                border-radius: 8px;
                font-family: "Jost", sans-serif;
                color: #333136;
                padding: 17px 19px;
                &:hover{
                    background: #ffad9b;
                    color:#fff;
                }
            }
        }
    }
}
footer{
    background-color: #1d1d1e;
    padding: 144px 0 72px;
    .footer-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        ul{
            display: flex;
            align-items: center;
            gap: 42px;
            li{
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0.14em;
                color: #fff;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .line{
        max-width: 1140px;
        height: 1px;
        background: #fff;
        opacity: 0.1;
        margin-bottom: 31px;
    }
    .footer-link{
        display: flex;
        align-items: end;
        justify-content: space-between;
        .office{
            display: flex;
            align-items: center;
            gap: 178px;
            ul{
                .bold{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 162%;
                    color: #fff;
                    opacity: 0.5;
                }
                .thin{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 162%;
                    color: #fff;
                    opacity: 0.5;
                    font-weight: 400;
                }
                li{
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 162%;
                    color: #fff;
                    opacity: 0.5;
                }
            }
        }
        .icon{
            display: flex;
            align-items: center;
            gap: 16px;
            transition: 0.3s ease;
            a{
                svg{
                    path:hover{
                        fill: #ffad9b;
                    }
                }
            }
        }
    }
}

@media (max-width:900px) {
    .container{
        max-width: 768px;
    }
    .head{
        padding: 64px 0 64px;
        .logo{
            a{
                img{
                    width: 119px;
                    height: 14px;
                }
            }
        }
    }
    .promo{
        .container{
            background-repeat: no-repeat;
            background-image: url(../img/tablet-phone-bg.png);
            background-position:center;
            margin-bottom: 120px;
            min-height: 843px;
            padding: 60px 58px;
            .promo-content{
                text-align: center;
                max-width: 573px;
                margin: 0 auto;
                h1{
                    margin-bottom: 8px;
                }
                p{
                    margin-bottom: 19px;
                }
            }
        }
    }
    .card{
        .container{
            margin-bottom: 120px;
            .card-content{
                display: flex;
                flex-direction: column;
                gap: 24px;
                align-items: center;
                .card-noutbook{
                    background-image:url(../img/noutbook.jpg);
                    max-width: 689px;
                    padding: 53px 0;
                }
                .card-imgs{
                    gap: 25px;
                    .iphone-img{
                        background-image:url(../img/tablet-keyboard-bg.png);
                        background-repeat: no-repeat;
                        padding: 53px 0;
                        max-width: 689px;
                        min-height: 0px;
                        border-radius: 15px;        
                    }
                    .graphic-img{
                        background-image:url(../img/tablet-iphone-bg.png);
                        background-repeat: no-repeat;
                        padding: 53px 0;
                        max-width: 689px;
                        min-height: 0px;
                        border-radius: 15px;  
                    }
                }
            }
        }
    }
    .information{
        .container{
            margin-bottom: 67px;
            .information-content{
                display: flex;
                flex-direction: column;
                gap: 32px;
                    .passionate{
                        display: flex;
                        gap: 48px;
                        align-items: center;
                        .passionate-img{
                            img{
                                display: flex;
                            }
                        }
                        .passionate-text{
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                            h3{
                                margin-bottom: 16px;
                            }
                            p{
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 162%;
                                text-align: center;
                                color: #333136;
                                text-align: start;
                            }
                        }
                       
                    }
            }
        }
    }
    .talk-about{
        transform: translateY(70px);
        .container{
            background-image:url(../img/tablet-bg.png);
            background-repeat: no-repeat;
            padding: 57px 59px;
            max-width: 690px;
            min-height: 350px;
            .talk-content{
                display: flex;
                flex-direction: column;
                text-align: center;
                max-width: 573px;
                .text{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h4{
                        max-width: 335px;
                        margin-bottom: 8px;
                    }
                    p{
                        margin-bottom: 32px;
                    }
                }
            }
        }
    }
    footer{
        background-color: #1d1d1e;
        padding: 166px 0 80px;
        .footer-logo{
            margin-bottom: 46px;
        }
        
        .footer-link{
            .office{
                display: flex;
                align-items: center;
                gap: 30px;
            }
        }
    }
}

@media (max-width:701px) {
    .container{
        padding: 0 24px;
    }
    .head{
        padding: 34px 0 35px;
        .container{
            .header-content{
                display: flex;
                align-items: center;
                justify-content: space-between;
                ul{
                    display: none;
                }
                .burger{
                    display: block;
                    img{
                        display: flex;
                        align-items: center;
                    }
                }
                .logo{
                    a{
                        img{
                            width: 202px;
                            height: 27px;
                        }
                    }
                }
        }
    }
    }
    .promo{
        .container{
            background-repeat: no-repeat;
            // background-image: url(../img/Group\ 8\ \(1\).png);
            background-position:center;
            margin-bottom: 120px;
            max-height: 843px;
            padding: 80px 24px;
            width: 100%;
            .promo-content{
                h1{
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 100%;
                    color: #fff;
                    margin-bottom: 14px;
                }
                p{
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 162%;
                    color: #fff;
                    margin-bottom: 24px;
                    text-align: center;
                }
            }
        }
    }
    .card{
        .container{
            margin-bottom: 120px;
            .card-content{
                display: flex;
                gap: 24px;
                .card-noutbook{
                    background-image:url(../img/keyboard-media-bg.png);
                    background-repeat: no-repeat;
                    max-height: 250px;
                    max-width: 327px;
                    padding: 90px 0px 89px;
                    .card-text{
                        h2{
                            font-weight: 500;
                            font-size: 28px;
                            line-height: 120%;
                            letter-spacing: 0.05em;
                            color: #fff;
                            margin-bottom: 11px;
                        }
                        .text{
                            display: flex;
                            align-items: center;
                            gap: 16px;
                        }
                    }
                   
                }
                .card-imgs{
                    .iphone-img{
                        background-image:url(../img/iphone-media-bg.png);
                        background-repeat: no-repeat;
                        max-height: 250px;
                        max-width: 327px;
                        padding: 90px 0px 89px;
                        .card-text{
                            h2{
                                font-weight: 500;
                                font-size: 28px;
                                line-height: 120%;
                                letter-spacing: 0.05em;
                                color: #fff;
                                margin-bottom: 11px;
                            }
                            .text{
                                display: flex;
                                align-items: center;
                                gap: 16px;
                            }
                        }
                    }
                    .graphic-img{
                        background-image:url(../img/design-media-bg.png);
                        background-repeat: no-repeat;
                        max-height: 250px;
                        max-width: 327px;
                        padding: 90px 0px 89px;
                        .card-text{
                            h2{
                                font-weight: 500;
                                font-size: 28px;
                                line-height: 120%;
                                letter-spacing: 0.05em;
                                color: #fff;
                                margin-bottom: 11px;
                            }
                            .text{
                                display: flex;
                                align-items: center;
                                gap: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    .information{
        .container{
            margin-bottom: 121px;
            .information-content{
                display: flex;
                align-items: center;
                gap: 48px;
                text-align: center;
                .passionate{
                    display: flex;
                    flex-direction: column;
                    .passionate-text{
                        display: flex;
                        align-items: center;
                        .passionate-img{
                            img{
                                margin-bottom: 48px;
                            }
                        }
                        p{
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 162%;
                            text-align: center;
                            color: #333136;
                        }
                    }
                    
                }
            }
        }
    }
    .talk-about{
        transform: translateY(200px);
        .container{
            background-image:url(../img/project-media-bg.png);
            background-repeat: no-repeat;
            padding-top: 64px;
            background-position:center;
            min-height: 379px;
            .talk-content{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .text{
                    max-width: 279px;
                    h4{
                        font-weight: 500;
                        font-size: 32px;
                        line-height: 100%;
                        color: #fff;
                        margin-bottom: 6px;
                    }
                    p{
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 162%;
                        color: #fff;
                    }
                }
            }
        }
    }
    footer{
        padding: 253px 0 64px;
        .footer-logo{
            display: flex;
            align-items: center;
            flex-direction: column;
            img{
                margin-bottom: 32px;
            }
            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 32px;
            }
        }
        .line{
            max-width: 1140px;
            height: 1px;
            background: #fff;
            opacity: 0.1;
            margin-bottom: 31px;
        }
        .footer-link{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 40px;
            text-align: center;
            .office{
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 40px;
            }
        }
    }
}




